button {
  border-radius: 10%;
  background-color: rgb(197, 10, 10);
  height: 35px;
  color: white;
  font-size: 15px;
  width: 96%;
}
@media (max-width: 900px){
  button{
    background-color:  rgb(40, 92, 204);
    color: white;
  }
}