.date {
  font-weight: bold;
}

h1 {
  color: rgb(197, 10, 10);
}

.test{
  width: 400px;
  height: 400px;
  background: red;
}

.container > .content {
  height: 400px;
  padding-left: 10px;
  border: 2px solid;
  border-radius: 25px;
  box-shadow: 0 0 40px #000;
  background: linear-gradient(to right, rgb(175, 64, 64) 0%, white 20%);
  float: left;
  margin: 10px;
  width: 30%;
  position: relative;
  border-color: rgb(197, 10, 10);
}
.info {
  height: 100px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 900px){
  h1{
    color: darkblue;
  }  
}


@media (min-width:400px) and (max-width: 900px){
  .content{
    background: linear-gradient(to right, rgb(40, 92, 204) 0%, white 20%);
    
  }
  
}

p{
  font-size: 12px;
}

.btn{
  position: absolute;
  bottom: 50px;
  width: 100%;
}